@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700;9..40,900&family=Inter:wght@400;700&family=Poppins:ital,wght@1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.home-page{
    background-image: url("/images/Poster.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
    color: #ffffff;
    
}

.details{
    padding-top: 8rem;
    padding-left: 4rem;
    
}

.movie-box{
display: flex;
justify-self: center;
align-items: center;
margin-left: 3rem;
padding-top: 1rem;
}

.movie-box-para{
    margin-left: 1rem;
}

.john-heading{
   font-size: 48px;
   line-height: 56px;
   color: #ffffff;
   font-weight: 700;
}

.john-para{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.watch-btn{
    background: #BE123C;
    width: 169px;
    height: 36px;
    padding: 6px, 16px, 6px, 16px;
    border-radius: 6px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    border: none;

}
.bx-play-circle{
  padding: 3.5px;
  font: 1.5rem;
}

.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bxl-facebook, .bxl-instagram, .bxl-twitter, .bxl-youtube{
    margin-left: 1rem;
    margin-top: 5rem;
}

.footer-para{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-condition, .footer-press, .footer-privacy{
    margin-left: 1rem;

}